fastapi[all]
annotated-types==0.5.0
bcrypt==3.2.0
cryptography==3.4.8
importlib-metadata==4.6.4
oauthlib==3.2.0
passlib==1.7.4
pip==22.0.2
psycopg2-binary==2.9.9
pydantic==2.5.3
pydantic-core==2.14.6
pydantic-extra-types==2.1.0
pydantic-settings==2.0.3
PyJWT==2.3.0
python-jose==3.3.0
uvicorn==0.22.0
watchfiles==0.20.0
uuid==1.30